body {
    font-family: 'Rubik', Courier, monospace;
    background-color: ivory;
    margin: 3vh 5vw;
    line-height: normal;
}

a:visited{
    color:black;
}


a:link {
    color: black;
    text-decoration: none;
}

a:hover{
   opacity: 0.6;
    
}

h1 {
    margin: 1%;
    
}
p {
    margin: 1%;
    
}